

<% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
<% end %>
<center>
<div class='fancy-text'>
<br>
<div class="card-one" style="width: 30rem;">
<div class="card-body">
<h3 class="card-title">Login </h3>
<%= form_with(scope: :user, url: login_path)  do |f|%>
    <%= f.label "Email:" %>
    <%= f.text_field :email %><br>
    <%= f.label "Password:" %>
    <%= f.password_field :password %><br>
    <br>
    <%= f.submit "Login" %>
<% end %>
<p> Or </p>
<!----- making post request instead of get because we are using csrf protection ----->
<%= button_to 'Sign in with Google', '/auth/google_oauth2' %> </p> 
<br>
 Don't have an account? <%= link_to 'Signup', signup_path, class: 'my-btn-sm' %> 
</div>
</div>
</div>
</center>