<h1> LogIn </h1>

<%= form_with(scope: :user, url: login_path)  do |f|%>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.submit "Sign In" %>
<% end %>

<h3> Login with Google Instead. </h3> 
<!----- making post request instead of get because we are using csrf protection ----->
<%= button_to 'Google Login', '/auth/google_oauth2' %>