<h1> <%= @device.name %> </h1>

<p> Model: <%= @device.model %> </p>
<p> Description: <%= @device.description %> </p>
<p> Brand: <%= @device.brand %> </p>
<p> Quantity: <%= @device.quantity %> </p>
<h3> Automations for <%= @device.name %> </h3>
<% @device.automations.each do |automation| %> 
    <%= link_to automation.name, device_automation_path(@device, automation)%>
    <br>
<%end %>
<br>
<%= link_to 'Create New Automation', new_device_automation_path(@device) %>