<h1> <%= @device.name %> </h1>

<p> Model: <%= @device.model %> </p>
<p> Description: <%= @device.description %> </p>
<p> Brand: <%= @device.brand %> </p>
<p> Quantity: <%= @device.quantity %> </p>

<%= link_to 'Create Automation', new_device_automation_path(@device) %>