<center>    
    <div class="card" style="width: 30rem;">
    <div class="card-body">
        <h1> <%= @device.name %> </h1>
        <p> Model: <%= @device.model %> </p>
        <p> Description: <%= @device.description %> </p>
        <p> Brand: <%= @device.brand %> </p>
        <p> Quantity: <%= @device.quantity %> </p>
        <%= link_to "Edit", edit_device_path(@device)%>
        <br>
        <%= button_to "Delete", device_path(@device), method: "delete"%>
    </div>
    </div>
    <br>
    <% if !@device.automations.empty? %>
    <%= link_to 'New Automation', new_device_automation_path(@device) %>
    <br>
    <br>
    <h4> Automations for <%= @device.name %> </h4>
        <% @device.automations.each do |automation| %> 
            <div class="card" style="width: 20rem;">
            <div class="card-body">
            <%= link_to automation.name, device_automation_path(@device, automation)%>
            </div>
            </div>
            <br>
        <%end %>
    <% else %>
        <p> You currently have no automations. <%= link_to 'Create new automation', new_device_automation_path(@device) %> for this device.</p>
    <% end %>   
</center>