<h1>New Automation</h1>
<%= form_for([@device, @automation]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :if_action %>
    <%= f.text_field :if_action %><br>
    <%= f.label :then_action %>
    <%= f.text_field :then_action %><br>
    <%= f.submit 'Create Automation' %>
<% end %>