<h1> <%=@automation.name %> </h1>
<ul> <p> If Action: <%= @automation.if_action %> </p> 
<p> Then Action: <%= @automation.then_action %> </p>
<p> Device Name: <%= @automation.device.name %> </p>
</ul>
<%= link_to 'Back to Automations', device_automations_path %>