<center>
<div class="fancy-text">
    <div class="card-one" style="width: 20rem;">
    <div class="card-body">
        <div class= "custom-title">
            <%= @room.name %>
        </div>
        <% if @room.indoor == true %>
            <p> Indoor </p>
        <% else %>
            <p> Outdoor </p>
        <% end %>
        <%= link_to "Edit", edit_room_path(@room), class: "my-btn-sm"%>
        <%= button_to "Delete", room_path(@room), method: "delete", class: "my-btn-sm"%>
    </div>
    </div>
    <br>
    <br>
    <% if !@room.automations.empty? %>
        <div class="card-one" style="width: 30rem;">
        <div class="card-body">
        <div class="custom-title-sm"> Automations for <%= @room.name %>: </div> </div> </div>
        <br>
        <% @room.automations.each do |automation|%>
            <div class="card-one" style="width: 20rem;">
            <div class="card-body">
                <p> <%= link_to automation.name,  device_automation_path(automation.device_id, automation),  class: "my-btn-sm"%> </p>
            </div>
            </div>
        <% end %>
    <% else %>
        <div class="card-body">
        <div class="card-one" style="width: 30rem;">
        <br>
            <h5> Looks like this room has no automations! Select a device and <%= link_to "create new automation", devices_path, class: "my-btn-sm" %>. </h5>
        <br>
        </div>
        </div>
    <% end %>
</div>
</center>