<center>
<h1> <%= @room.name %> </h1>
<% if @room.indoor == true %>
    <p> Indoor: <%= @room.indoor %> </p>
<% else %>
    <p> Outdoor: <%= @room.outdoor %> </p>
<% end %>
<div class="card" style="width: 30rem;">
<div class="card-body">
<h4> Automations for <%= @room.name %>: </h4>
<% if !@room.automations.empty? %>
<% @room.automations.each do |automation|%>
    <p> <%= link_to automation.name,  device_automation_path(automation.device_id, automation)%> </p>
    <% end %>
<% else %>
<p> This room has no Automations. </p>
</div>
</div>
<% end %>
<p> Select a Device and <%= link_to "Create new Automation", devices_path %> </p>
</center>