<% if logged_in? %>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="mySidenav" class="sidenav">
  <%= form_with(url: search_path, method: 'get', class: 'd-flex') do |f|%>
    <%= f.text_field :device, class: "form-control me-2", placeholder: "Search for Device" %>
    <%= f.submit :Search, class: "my-search-btn" %>
  <% end %>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= link_to 'My Home', rooms_path %>
  <%= link_to 'New Living Space', new_room_path %>
  <%= link_to 'Devices', devices_path %>
  <%= link_to 'Create New Device', new_device_path %>
  <%= link_to 'Automations', automations_path %>
  <br>
  <center> <%= (button_to 'Logout', logout_path, class: 'nav-link active', method: :delete) if logged_in? %></center>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
   
</body>
</html> 
<% end %>